@tailwind base;
@tailwind components;
@tailwind utilities;

/* .button-base {
  @apply ;
} */

.checkmark-base {
  @apply absolute items-center justify-center flex top-1 left-1 right-1 bottom-1 border-4 border-white rounded-full;
}

.checkmark-icon {
  @apply w-4 h-4 text-white;
}

.product-image {
  @apply w-products h-products rounded-lg;
}

.radio {
  @apply flex  gap-3 items-center p-1 px-2  bg-radio rounded-lg cursor-pointer;
}

.radio-selected {
  @apply bg-radio-selected text-radio-text;
}

.active-tab {
  @apply border-b-4 border-description text-description font-semibold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
